@use "../../styles/partials/variables.scss" as variables;
@use "../../styles/partials/mixin.scss" as mixin;

.select__container {
  margin: 0 0.5rem;
  width: 100%;
  min-width: 10rem;
  
  select {
    padding: 1rem;
    border-radius: 2rem;
    width: 90%;
    border: 0.1rem solid variables.$secondary-color-cloud;

    &:focus,
    &:active {
      border: 0.1rem solid variables.$primary-color-indigo;
    }

    &.isError {
      border: 0.1rem solid variables.$supporting-color-red;
    }

    &::placeholder {
      color: variables.$secondary-color-slate;
      font-size: 1.5rem; 
    }
    background-size: 1rem;
  }
}

.error_text-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;

  &__text {
    color: variables.$supporting-color-red;
    font-size: medium;
  }
}
