@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;

//
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1.5rem;
  margin-right: 2rem;
  width: auto;
  min-width: 100px;
  font-size: 1em;
  text-align: center;

  &-title {
    font-size: 1.5rem;
  }

  &.large {
    font-size: 2rem;
    padding: 1.2rem 8rem;

    @include tablet {
      padding: 1rem 5rem;
    }
  }

  &.small {
    font-size: 0.875em;
  }

  &.medium {
    font-size: 1em;
  }
  &-icon {
    width: 0.5rem;
  }
  &.with-icon {
    svg {
      margin-right: 8px;
      font-size: 1.2em;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  // Color classes
  &.primary-color-black {
    background-color: $primary-color-black;
  }

  &.primary-color-indigo {
    background-color: $primary-color-indigo;
    border: solid 1px $primary-color-indigo;
  }

  &.primary-color-white {
    background-color: $primary-color-white;
    color: $primary-color-black;
    border: solid 1px $secondary-color-cloud;
  }

  &.secondary-color-slate {
    background-color: $secondary-color-slate;
  }

  &.secondary-color-cloud {
    background-color: $secondary-color-cloud;
    color: $primary-color-black;
  }

  &.background-color-graphite {
    background-color: $background-color-graphite;
  }

  &.background-color-grey {
    background-color: $background-color-grey;
    color: $primary-color-black;
  }

  &.supporting-color-green {
    background-color: $supporting-color-green;
  }

  &.supporting-color-red {
    background-color: $supporting-color-red;
  }
}
