@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.dynamic-form {
  &__label {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    width: 90%;
    margin-bottom: 0.3rem;
  }

  &__input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid $secondary-color-cloud;
    border-radius: 20px;
    width: 90%;
    text-align: left;
    margin-bottom: 1.5rem;

    &::placeholder {
      font-size: 1rem;
      color: $secondary-color-slate;
    }
  }
}
