@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.dynamic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary-color-cloud;

  @include tablet {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
  }

  &__header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid $secondary-color-cloud;

    .dynamic-form__back-icon {
      margin-right: 15px;
      margin-left: 30px;
      color: $primary-color-indigo;
    }

    h1 {
      font-size: 1.8rem;

      @include tablet {
        @include fontLarge;
      }
    }
  }

  &__content {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    @include tablet {
      flex-direction: row;
      width: 100%;

      gap: 0;
    }
  }

  &__section {
    width: 20;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet {
      padding: 30px;
      border-right: 1px solid $secondary-color-cloud;

      &:last-child {
        border-right: none;
      }

      &-title {
        margin-bottom: 2.5rem;
        text-align: left;
      }

      &__group {
        display: flex;
        flex-direction: column;
        align-items: flex-start; // Ensure all elements in group are aligned left
        justify-content: flex-start;
        width: 100%; // Ensures input takes full width
        margin-bottom: 15px;
      }
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-color-grey;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      padding: 2rem 0;
      // border: solid red;
    }
  }
}
