@use 'variables' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }

  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }

  @mixin fontMedium{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
  
    @include tablet {
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 400;
    }
  }

  @mixin fontSmall{
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
  
    @include tablet {
      font-size: 1.2rem;
      line-height: 1.8rem;
      font-weight: 400;
    }
  }