@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.table-element-container{
    display: flex;
    align-items: center;
    height: 10rem;
    padding-left: 2.4rem;
    background-color: $primary-color-white;
    border-bottom: 0.1rem solid $secondary-color-cloud;

    &__cell{
        padding-right: 2.4rem;
        width: 20%;
        text-align: left;
    }
    &__cell-address{
        width: 30%;
    }
    &__cell-contact{
        display: flex;
        flex-direction: column;
    }
    &__cell-btn{
        width: 10%;
        display: flex;
        justify-content: center;
    }
    &__cell{
        @include fontMedium;
    }
    &__btn-delete{
        padding-right: 1.6rem;
    }
    &__row-link{
        display: flex;
        align-items: center;
        color: $primary-color-indigo;
    }
    &__row-link:hover{
        text-decoration: underline;
    }
    @include desktop{
        height: 9rem;
    }
    &__btn:hover{
        transform: scale(1.1);
    }
}
.table-element-container:hover{
    background-color: $hover-color-blue;
}