@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;
.btn{
    width: 2.4rem;
    height: 2.4rem;
}

.mobile-element{
    background-color: $primary-color-white;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-top: 0.1rem solid $secondary-color-cloud;
    &__container{
        display: flex;
        flex-direction: row;
    justify-content: space-between;
    }
    &__heading{
        color: $secondary-color-slate;
        text-align: left;
        padding-top: 1.6rem;
    }   
    &__text{
        padding-top: 0.4rem;
        text-align: left;
        @include fontMedium
    }
    &__btn:hover{
        transform: scale(1.1);
    }
}
.warehouse-contact-name-wrapper{
    display: flex;
    flex-direction: column;
    &__warehouse-name{
        display: flex;
        align-items: center;
    }
}
.address-contact-info-wrapper{
    display: flex;
    flex-direction: column;
    &__email{
        padding-top: 0;
    }
}
.mobile-element__buttons-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
}
