@use "../../styles/partials/mixin.scss" as *;
@use "../../styles/partials/variables.scss" as *;


.inventory-mobile-element{
    background-color: $primary-color-white;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-top: 0.1rem solid $secondary-color-cloud;
    &__container{
        display: flex;
        flex-direction: row;
    justify-content: space-between;
    }
    &__heading{
        color: $secondary-color-slate;
        text-align: left;
        padding-top: 1.6rem;
        &__status{
            padding-bottom: 0.5rem;
        }
    }   
    &__text{
        padding-top: 0.4rem;
        text-align: left;
        @include fontMedium;
        border-radius: 2rem;
        &__red{
            background-color: #C9451512;
            text-transform: uppercase;
            color: $supporting-color-red;
            text-align: center;
            width: 8.6rem;
            padding: 0.5rem;
            font-weight: 600;
        }
        &__green{
            background-color: #15846312;
            color: $supporting-color-green;
            text-transform: uppercase;
            text-align: center;
            width: 6.1rem;
            padding: 0.5rem;
            font-weight: 600;
        }
        
    }
    &__btn:hover{
        transform: scale(1.1);
    }
}
.inventory-contact-name-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    &__inventory-name{
        display: flex;
        align-items: center;
    }
}
.inventory-address-contact-info-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    &__email{
        padding-top: 0;
    }
}
.inventory-mobile-element__buttons-container{
    display: flex;
    justify-content: space-between;
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
}