@use "../../../styles/global.scss" as *;
@use "../../../styles/partials/mixin.scss" as *;
@use "../../../styles/partials/variables.scss" as *;

.header{
    display: flex;
    flex-direction: column;
    background-color: $background-color-graphite;
}

.header-logo{
    display: flex;
    &__img{
        width: 12.85rem;
        height: 2.8rem;
    }
}

