@use "../../../styles/global.scss" as *;
@use "../../../styles/partials/mixin.scss" as *;
@use "../../../styles//partials/variables.scss" as *;

.footer {
  display: flex;
  justify-content: center;
  color: $secondary-color-slate;
}

.logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}
