@use "../../../styles/global.scss" as *;
@use "../../../styles/partials/mixin.scss" as *;
@use "../../../styles//partials/variables.scss" as *;

.footer {
  display: flex;
  z-index: 10;
  justify-content: center;
  color: $secondary-color-slate;

  @include tablet {
    justify-content: center;
  }

  @include desktop {
    justify-content: center;
  }
}

.logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.3rem;
}
