@use "../../styles/partials/variables.scss" as variables;
@use "../../styles/partials/mixin.scss" as mixin;

.wrapper__container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__section--container {
    border-radius: 0.5rem;
    background-color: variables.$primary-color-white;
    width: 95vw;
    top: 16rem;
    position: absolute;
    z-index: 2;

    @include mixin.tablet {
      width: 85vw;
      top: 13.5rem;
    }

    @include mixin.desktop {
      width: 70vw;
    }
  }

  &__header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid variables.$secondary-color-slate;
    padding: 3.5rem 2rem 2rem 2rem;

    @include mixin.tablet {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__header__button--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3rem;
    width: 100%;

    @include mixin.tablet {
      padding-top: 0;
      flex-direction: row;
      justify-content: right;
    }
  }

  &__header--title-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &__children--container {
    border: 1px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 0.5rem;
  }
}
